* { padding: 0; margin: 0; }

:root {
  --mainColor: #3B9DDD  ;
}

html {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #28292c;

}
body {
  margin: 0px 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
  background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
  color: #DFE3E6;
  text-decoration: none;
}
a:active,
a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

p {
  font-family: "Lora";
  color: #DFE3E6;
  font-size: 30px;
}

.main{
  padding: 100px 175px
}

.intro {
  width: 500px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding-top: 40px;
}

@media screen and (max-width: 500px) {
  .main {
    padding: 0px 40px;
  }
  
  .text-body {
    flex-direction: column;
  }

  .intro {
    padding-top: 15px;
    width: 300px;
  }

  .links {
    width: 300px;
  }
}

